<!DOCTYPE html>
<html>
    <head>
        <title>pomiedom-river2</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-responsive.min.css" type="text/css" />
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span8">
                    <h1>Messages</h1>
                    <div class="new_messages"></div>
                </div>
                <div class="span4">
                </div>
            </div>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            $(document).ready(function() {
                var socket = io.connect('http://localhost:5000');

                socket.on('message', function(data) {

                    console.log(data);

                    if (!data.key) {

                        var item = $("<div class='item'>");

                        for (var i = 0; i < data.length; i++) {
                            var node = data[i];
                            if (node.title) {
                                var title = $("<h3>");
                                title.text(node.title);
                                item.append(title);
                            }
                            else if (node.description) {
                                var description = $("<p>");
                                description.text(node.description);
                                item.append(description);
                            }

                            if (node.link) {
                                var p = $("<p>");
                                var link = $("<a>");
                                link.attr('href', node.link);
                                link.text(node.link);
                                p.append(link);
                                item.append(p);
                            }
                        }
                        $('div.new_messages').after(item);
                    }
                });
            });
        </script>

    </body>
</html>

